@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

body {
  background: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}


.shape {
  font-family: "Grey Qo", cursive;
}

/* nav section styles */

.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.nav-tittle {
  font-size: 1.7rem;
  color: rgb(230, 83, 60);
  font-weight: 800;
}

.nav label i {
  color: rgb(255, 255, 255);
  display: none;
}

.btn-nav {
  width: 62px;
  height: 24px;
  border-radius: 46px;
  color: rgb(255, 255, 255);
  background: rgb(230, 83, 60);
  border: none;
}

.list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

ul>li>a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
}

/* Banner section */

.banner-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 6rem;
}

.banner-tittle {
  color: rgb(255, 255, 255);
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 1.7rem;
}

.banner-description,
.footer-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.7rem;
}

.btn-primary {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px 40px;
  margin-bottom: 1.9rem;
}

.btn-download {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 40px;
}

.banner-img {
  width: 100%;
  position: relative;
}

.video-tutorial {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  color: white;
  width: 50%;
  height: 96px;
  bottom: 100px;
  right: 320px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}

.video-tutorial-text {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.video-tutorial-text>h1 {
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
  text-align: left;
}


.workout-videos {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  width: 50%;
  color: white;
  height: 96px;
  bottom: 350px;
  right: 10px;
  position: absolute;
  line-height: 10px;
}

.count {
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
}

.count-text {
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
}

/* change your habit section styles */

.change-habit {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.change-habit-content {
  text-align: center;
  margin: 0 auto;
}

.change-habit-tittle {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.change-habit-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

.change-habit-card {
  display: flex;
  gap: 2.5rem;
  text-align: center;
  margin-top: 4rem;
}

.change-habit-card img {
  border-radius: 50%;
}

.change-habit-card-tittle,
.get-started,
.bmi-calculator-chart {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
}

.change-habit-card-description,
.bmi-calculator-chart-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

/* run section styles */

.run {
  width: 80%;
  margin: 0 auto;
  /* height: 320px; */
  display: flex;
  gap: 7rem;
  margin-bottom: 6rem;
  border-radius: 1rem;
  background: rgb(34, 34, 34);
}

.run-content {
  padding-left: 2.5rem;
}

.run-tittle,
.meet-our-team-tittle,
.bmi-calculator-content-tittle {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.run-description,
.meet-our-team-description,
.bmi-calculator-content-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

.run>img {
  width: 360px;
  height: auto;
  padding: 30px;
  border-radius: 48px;
}

/* pushup section styles */

.push-up-section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.push-up-tittle {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
}

.push-up-section img {
  width: 270px;
  height: 240px;
  border-radius: 40%;
}

.push-up-container {
  display: flex;
  gap: 2.5rem;
  text-align: center;
  margin-top: 4rem;
}

.push-up-meaning {
  color: rgba(255, 255, 255, 0.5);
  text-align: justify;
  font-size: 1rem;
  width: 300px;
  height: 150px;
  padding: 40px;
  border: 2px solid gray;
  border-radius: 30%;
}

.benefits-of-push-up {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.benefits-of-push-up-tittle {
  color: silver;
  font-size: 1.3rem;
}

.benefits-of-push-up li {
  color: white;
}


/* BMI Calculator */

.bmi-calculator {
  margin: 0 auto;
}

.bmi-calculator-content {
  width: 670px;
  margin: 0 auto;
}

.bmi-calculator-box {
  background: rgb(34, 34, 34);
  margin-top: 5rem;
}

.bmi-calculator-data {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  padding-bottom: 6rem;
}

.bmi-calculator-chart {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  font-weight: 900;
  text-align: left;
}

.bmi-calculator-table {
  width: 40%;
}

table {
  border-collapse: collapse;
  margin-top: 3rem;
}

th {
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  padding: 10px 30px 10px 20px;
}

td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  padding: 10px 30px 10px 20px;
}

.calculate-your-bmi {
  width: 60%;
}

.input-field-1,
.input-field-2 {
  margin-bottom: 10px;
}

.cm,
.kg,
.age,
.sex {
  width: 35%;
}

.factor {
  width: 81%;
  margin-bottom: 20px;
}

input {
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 40px 12px 20px;
}

/* meet our team section */

.meet-our-team {
  width: 80%;
  margin: 0 auto;
}

.meet-our-team-content {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.meet-our-team-imgs {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.meet-our-team-trainer {
  width: 305px;
  height: 250px;
  position: relative;
}

.meet-our-team-trainer>img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.meet-our-team-img-content {
  position: absolute;
  bottom: 0px;
  text-align: left;
  padding-left: 20px;
}

.meet-our-team-trainer-tittle {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.trainer {
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
  font-weight: 400;
}

/* footer section */

.footer-section {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 4.4rem;
}

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 6rem;
}

.footer-1 {
  width: 440px;
}

.footer-2 {
  width: 180px;
  margin-top: 3rem;
}


.footer-tittle {
  color: rgb(230, 83, 60);
  font-size: 3rem;
  font-weight: 800;
  text-align: left;
  margin-bottom: 20px;
}

.footer-2-list {
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
  font-weight: 400;
  text-align: left;
}

.footer-right {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 35px;
  /* margin-bottom: 35px; */
  padding-bottom: 35px;
}

hr {
  width: 80%;
  color: rgba(255, 255, 255, 0.1);
  margin-top: 6rem;
}

/* media query */

@media screen and (max-width:576px) {

  /* nav media query */

  .nav-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
  }

  .nav label i {
    display: block;
  }

  .list {
    display: none;
  }

  /* banner media query */

  .banner-container,
  .footer {
    flex-direction: column;
  }

  .banner-tittle {
    font-size: 3.5rem;
  }

  .video-tutorial {
    bottom: 220px;
    right: 200px;
  }

  .workout-videos {
    bottom: 500px;
    right: 0;
  }

  /* change habit query */

  .change-habit-card {
    flex-direction: column;
  }

  .change-habit-tittle {
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }

  /* run section query */

  .run {
    flex-direction: column;
    gap: 30px;
  }

  .run-tittle {
    font-size: 2.2rem;
  }

  .run>img {
    width: 280px;
  }

  /* pushup media query */

  .push-up-tittle {
    font-size: 2.2rem;
  }

  .push-up-container {
    flex-direction: column;
  }

  .push-up-meaning{
    width: 250px;
  }

  /* bmi calculator media query */

  .bmi-calculator-content {
    width: 380px;
    margin: 0 auto;
    padding-left: 40px;
  }

  .bmi-calculator-content-tittle{
    font-size: 2.5rem;
  }

  .bmi-calculator-data {
    flex-direction: column;

  }

  .bmi-calculator-table {
    width: 100%;
  }

  .calculate-your-bmi {
    width: 100%;
  }

  .cm,
  .kg,
  .age,
  .sex {
    width: 31%;
  }

   /* meet our team media query */

   .meet-our-team-tittle{
    font-size: 2rem;
   }

   .meet-our-team-imgs {
    grid-template-columns: repeat(1, 1fr);
  }

  /* footer media query */

  .footer {
    gap: 0px;
  }

  .footer-1 {
    width: 350px;
  }

}